<header class="ba-header">
<div class="top-bar">
		<div class="row column">
			<div class="top-bar-title">
				<a class="ba-logo" href="index.html">
					<img src="../assets/img/Logo.png" alt="Aria Hotel">
				</a>
			</div>
			<span class="float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
				<button class="menu-icon dark" type="button" data-toggle></button>
			</span>
			<div id="responsive-menu">
				<div class="top-bar-right">
					<ul class="ba-main-menu menu vertical medium-horizontal text-right">
						<li><a href="index.html">HOME</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">ROOMS & SUITES</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">EVENTS</a></li>
						<li><a href="#">CONTATCS</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>

